<mdb-card>
    <mdb-card-header class="black-text bg-white text-center py-4">
        <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h5 class="mb-0">
            <strong>Obnova hesla</strong>
        </h5>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">

        <form [formGroup]="passwordResetForm" class="text-center" style="color: #757575;">

            <div class="md-form">
                <input formControlName="email" type="email" id="materialLoginFormEmail" class="form-control" mdbInput mdbValidate>
                <label for="materialLoginFormEmail">E-mail</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Špatný formát emailu</mdb-error>
            </div>

            <button type="submit" [ngBusy]="busyForm" [disabled]="passwordResetForm.invalid" (click)="confirmPasswordReset()" 
                color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" 
                mdbWavesEffect mdbBtn 
                >
                Obnovit heslo
            </button>

            <div *ngIf="isSended == true" class="alert alert-success mt-2" role="alert">
                Na vaši emailovou adresu jsem odeslali email na obnovu Vašho hesla. 
                <br/>
                (Pokud jste email neobdrželi, zkontrolujte prosím také SPAM složku)
            </div>
            <div *ngIf="isSended == false" class="alert alert-danger mt-2" role="alert">
                Požadovaný email nebyl nalezen.
            </div>
        </form>
    </mdb-card-body>
</mdb-card>