<div class="row">
    <div class="col-8">
        <form [formGroup]="transportForm">
            <mdb-card *ngIf="showServiceCard">
                <mdb-card-header class="bg-white">Datum příjezdu technika</mdb-card-header>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-6">
                            <div class="d-flex justify-content-center">
                                <app-date-range
                                    [invalidFunction]="invalidDateFunction"
                                    (changeSelectedDate)="selectedDate($event)"
                                    [selectedDate]="selectedServisDate">
                                </app-date-range>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ServisBox-container">
                                <div *ngIf="!selectedServisDate" class="ServisBox">
                                    <mdb-icon class="opacity-8" size="4x" fas icon="tools"></mdb-icon>
                                    <p class="pl-3 pt-4">Vyberte plánovaný přijezd technika</p>
                                </div>
                                <div *ngIf="selectedServisDate" class="ServisBox">
                                    <mdb-icon size="4x" fas icon="tools"></mdb-icon>
                                    <p class="pl-3 pt-3">Plánovaný přijezd technika</p>
                                    <p class="h3">{{selectedServisDate?.format("D.M. YYYY")}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
            <mdb-card class="mt-3">
                <mdb-card-header class="bg-white">Doprava</mdb-card-header>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let transport of transports; let i = index" class="list-group-item">
                        <div class="pl-0 form-check">
                        <input type="radio" (change)="onChangeTransport(transport)" class="form-check-input" id="transportType-{{i}}" [value]="transport.type"
                                formControlName="transportType" name="transportType">
                        <label class="form-check-label OrderTransport-Item" for="transportType-{{i}}">
                            <div class="OrderTransport-Item-imgBox">
                                <img *ngIf="transport.type == TransportType.PersonalPickup" [alt]="'Personal pickup icon'" [src]="'assets/icons/personal-pickup.png'" />
                                <img *ngIf="transport.type == TransportType.Zasilkovna" [alt]="'Zasilkovna icon'" [src]="'assets/icons/zasilkovna.png'" />
                            </div>
                            <div class="w-100 px-2">
                                {{transport.name}}
                                <p>{{transport.description}}</p>
                            </div>
                            <div class="OrderTransport-Item-price">
                                <span *ngIf="transport.totalPrice?.czkWithVat == 0">
                                    Zdarma
                                </span>
                                <span *ngIf="transport.totalPrice?.czkWithVat > 0">
                                    {{transport.totalPrice?.czkWithVat}} {{mapPriceTypes(transport.totalPrice?.priceType)}}
                                </span>
                            </div>
                        </label>
                        </div>
                    </li>
                </ul>
              </mdb-card>
        </form>
        <div class="text-right mt-3 mb-3">
            <button [disabled]="transportForm.invalid" (click)="onNext()" type="button" mdbBtn color="primary" mdbWavesEffect>
                Pokračovat k výběru platby
            </button>
        </div>
    </div>
    <div class="col-4">
        <app-order-summary-card></app-order-summary-card>
    </div>
</div>
