<div class="row">
    <div class="mx-auto my-3 z-depth-1 rounded">
        <section class="form-dark">
            <div class="card card-image login-card">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <div class="text-right mb-5">
                        <h3 class="white-text font-weight-bold">
                            <strong>ES</strong><strong class="blue-text font-weight-bold is-logo">is</strong>
                        </h3>
                        <h6>
                            <a class="white-text opacity-7">
                                Elitec software internal system
                            </a>
                        </h6>
                    </div>
                    <div class="mt-ě mb-2 opacity-9 text-center white-text">
                        <hr>
                        <h3 class="text-white">Přihlášení</h3>
                        <hr>
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="md-form">
                            <input type="text" id="email" class="form-control white-text" formControlName="email" [mdbValidate]="!badLoginMessage" mdbInput>
                            <label for="email" class="text-white opacity-8">Email</label>
                        </div>

                        <div class="md-form pb-2">
                            <input type="password" id="password" class="form-control white-text" formControlName="password" [mdbValidate]="!badLoginMessage" mdbInput>
                            <label for="password" class="text-white opacity-8">Password</label>
                            <p *ngIf="badLoginMessage" class="h6 red-text font-weight-bold mt-3">
                                Bad user access
                            </p>
                        </div>
                    </form>
                    <div class="row d-flex align-items-center">
                        <div class="text-center col-md-12">
                            <button [disabled]="this.loginForm.invalid || badLoginMessage" (click)="login()" type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
                                Přihlásit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>