<div class="row mt-5">
    <div class="col-8">
        <div class="d-flex align-items-center justify-content-between pt-5 mb-2">
            <div class="d-flex">
                <h1 nz-typography>Změna hesla</h1>
            </div>
        </div>
        <nz-spin [nzSpinning]="isLoading" nzTip="Probíhá ukládání...">
            <form [formGroup]="changePasswordForm">
                <mdb-card>
                    <mdb-card-body>
                        <div class="row">
                            <div class="col-12">
                                <div class="md-form">
                                    <input id="password" formControlName="password" type="password" class="form-control" mdbInput mdbValidate>
                                    <label for="password">Nové heslo</label>
                                    <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Heslo musí mít 6 a více znaků</mdb-error>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="md-form">
                                    <input id="passwordConfirm" formControlName="passwordConfirm" type="password" class="form-control" mdbInput mdbValidate>
                                    <label for="passwordConfirm">Potvrzení nového hesla</label>
                                    <mdb-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">Hesla se neshodují</mdb-error>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>

                <div class="text-right mt-3 mb-3">
                    <button [disabled]="changePasswordForm.invalid" (click)="confirmPasswordReset()" type="button" mdbBtn color="primary" mdbWavesEffect>
                        Uložit
                    </button>
                </div>
            </form>
        </nz-spin>
    </div>
</div>