<mdb-card *ngIf="order" class="OrderSummaryCard">
    <mdb-card-header class="bg-white">Souhrn</mdb-card-header>
    <mdb-card-body class="py-0 px-2">
        <div class="table-responsive">
            <table class="table product-table mb-0 OrderSummaryCard-table">
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">
                            <img src="{{product.product.image.secureUrl}}" alt="{{product.product.name}}" class="img-fluid z-depth-0">
                        </th>
                        <td class="w-100">
                            <h5 class="OrderSummaryCard-name">
                                <strong>{{product.count}}x {{product.product.name}}</strong>
                            </h5>
                        </td>
                        <td class="font-weight-bold OrderSummaryCard-price">
                            <strong>{{product.totalPrice.czkWithVat}} {{mapPriceTypes(product.totalPrice.priceType)}}</strong>
                        </td>
                    </tr>

                    <tr *ngIf="transport">
                        <th scope="row">
                            <img [alt]="transport.name" [src]="transport.image.secureUrl" />
                        </th>
                        <td class="w-100">
                            <h5 class="OrderSummaryCard-name">
                                <strong>{{transport.name}}</strong>
                            </h5>
                        </td>
                        <td class="font-weight-bold OrderSummaryCard-price">
                            <strong>
                                <span *ngIf="transport.totalPrice?.czkWithVat > 0">{{transport.totalPrice?.czkWithVat}} {{mapPriceTypes(transport.totalPrice?.priceType)}}</span>
                                <span *ngIf="transport.totalPrice?.czkWithVat == 0">Zdarma</span>
                            </strong>
                        </td>
                    </tr>

                    <tr *ngIf="payment">
                        <th scope="row">
                            <img [alt]="payment.name" [src]="payment.image.secureUrl" />
                        </th>
                        <td class="w-100">
                            <h5 class="OrderSummaryCard-name">
                                <strong>{{payment.name}}</strong>
                            </h5>
                        </td>
                        <td class="font-weight-bold OrderSummaryCard-price">
                            <strong>
                                <span *ngIf="payment.totalPrice?.czkWithVat > 0">{{payment.totalPrice?.czkWithVat}} {{mapPriceTypes(payment.totalPrice?.priceType)}}</span>
                                <span *ngIf="payment.totalPrice?.czkWithVat == 0">Zdarma</span>
                            </strong>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h4 class="mt-2 OrderSummaryCard-total-name">
                                <strong>Celkem s DPH</strong>
                            </h4>
                        </td>
                        <td *ngIf="total" colspan="4" >
                            <h4>
                                <strong class="OrderSummaryCard-total-price">{{total.totalPrice.czkWithVat}} {{mapPriceTypes(total.totalPrice.priceType)}}</strong>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mdb-card-body>
</mdb-card>
