.OrderSummaryTitleXl {
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
    font-size: 1.75rem !important;
}

.OrderSummaryCard {
    @media screen and (min-width: 600px) {
        &.xl {
            .OrderSummaryCard {
                img {
                    max-height: 65px !important;
                }
                &-name {
                    font-size: 17px !important;
                }
                &-price {
                    font-size: 21px !important;
                }
                &-total {
                    &-name {
                    }
                    &-price {
                        padding: 10px 5px 1px 10px !important;
                        .h6 {
                            font-size: 22px !important;
                        }
                        &-label {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }

    &-table {
        tr {
            th {
                width: 20%;
                img {
                    min-width: auto !important;
                    min-height: auto !important;
                    max-width: 100% !important;
                    max-height: 100% !important;
                }
            } 
            td {
                
            }
        }
    }
    &-name {
        font-size: 12px;
        margin: 0 !important;
        font-weight: 400 !important;
    }
    &-price {
        font-size: 14px;
        margin: 0 !important;
        font-weight: 500 !important;
        white-space: nowrap;
    }
    &-total {
        &-name {
        }
        &-price {
            flex-direction: column !important;
            text-align: right !important;
            align-items: flex-end !important;
            &-label {
                margin-bottom: -10px !important;
                font-weight: 500 !important;
            }
        }
    }

    
}