.OrderSummaryCard {
    &-table {
        tr {
            th {
                width: 20%;
                img {
                    min-width: auto !important;
                    min-height: auto !important;
                    max-width: 100% !important;
                    max-height: 100% !important;
                }
            } 
            td {
                
            }
        }
    }
    &-name {
        font-size: 12px;
        margin: 0 !important;
        font-weight: 300 !important;
    }
    &-price {
        font-size: 12px;
        margin: 0 !important;
        font-weight: 300 !important;
        white-space: nowrap;
    }
    &-total {
        &-name {
            font-size: 15px !important;
            margin: 0 !important;
        }
        &-price {
            white-space: nowrap;
            font-size: 15px !important;
            margin: 0 !important;
        }
    }
}