packages
bin
obj
sqlite3
.vs
*.ide
*.sqlite
*.ide
*.sqlite
ESS_API/ess_api/.vs/ess_api/v16/.suo
ESS_API/ess_api/.vs/ess_api/v16/.suo
ESS_API/ess_api/.vs/ess_api/v16/Server/sqlite3/storage.ide
ESS_API/ess_api/.vs/slnx.sqlite
*.ide
ESS_API/ess_api/.vs/ess_api/v16/.suo
ESS_API/ess_api/.vs/ess_api/v16/Server/sqlite3/storage.ide
ESS_API/ess_api/.vs/slnx.sqlite
ESS_API/ess_api/ess_api.Core/obj/Debug/ess_api.1_Core.csproj.CoreCompileInputs.cache
ESS_API/ess_api/.vs/ess_api/v16/Server/sqlite3/storage.ide
ESS_API/ess_api/.vs/ess_api/v16/Server/sqlite3/storage.ide
ESS_API/ess_api/.vs/ess_api/v16/.suo
*.cache
