<section class="container team-section my-5 pt-4 text-center">
    <h2 class="h1-responsive font-weight-bold text-center mt-4">Kde nás najdete?</h2>
    <p class="grey-text text-center w-responsive mx-auto mb-1">Tyršovo náměstí 440, 686 01 Uherské Hradiště</p>
    <p class="grey-text text-center w-responsive mx-auto mb-1">Máme kanceláře přímo s výhledem na řeku Moravu</p>
    <img  [alt]="'Mapa'" [src]="'assets/imgs/map.png'" class="rounded z-depth-1 w-75 text-center mt-3" alt="Sample avatar">

    <!-- <h2 class="h1-responsive font-weight-bold text-center my-5">Naše sídlo</h2>
    <p class="grey-text text-center w-responsive mx-auto mb-1">Hradištská 216, 688 01 Uherský Brod</p> -->
    
    <h2 class="h1-responsive font-weight-bold text-center my-5">Ozvěte se nám</h2>
    <p>
        <mdb-icon fas icon="home" class="mr-2"></mdb-icon>
        Uherské hradiště
    </p>
    <p>
        <mdb-icon fas icon="envelope" class="mr-2"></mdb-icon> info@elitecsoftware.com
    </p>
    <p>
        <mdb-icon fas icon="phone" class="mr-2"></mdb-icon> +420 602 182 944
    </p>
</section>
