@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./styles/mdbCustomize/sideMenu.scss";
@import "./styles/mdbCustomize/headerMenu";
@import "./styles/mdbCustomize/shopCard";
@import "./styles/mdbCustomize/shopMain";

@mixin placeholder {
&::-webkit-input-placeholder {@content}
&:-moz-placeholder           {@content}
&::-moz-placeholder          {@content}
&:-ms-input-placeholder      {@content}  
}

h2 {
    font-size: 2.2rem;
}

 
/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    body{
        height: 100%;
        background-color: #fff;
    }
}


.is-logo{
    border-right: 4px solid white;
    padding-right: 5px;
    border-top: 1px solid white;
    border-bottom: 0px solid white;
    border-radius: 23px;
    padding-left: 7px;
    color: #80c7ff !important;
}

.light-blue-skin .pres-navbar{
    background-color: rgb(255, 255, 255) !important;
}
//
//
// ROZSIRENI MDB STYLU
//
//

//
// BUTTONS

// INPUTS
// input + label { @include placeholder {
//     color: white !important;
// }}

// BACKGROUNDS
.rgba-stylish-strong {
    background-color: rgba(0, 0, 0, 0.7);
}
// Gradient buttons
.a-black-gradient{
    background: linear-gradient(40deg, #929292, #000000) !important;
}
hr{
    &.a-white-light{
        border-color: #ffffff14;
    }
}

// COLORS
.a-transparent{
    background: #ffffff00 !important;
}

// OPACITY
@mixin opacity-x {
    @for $i from 1 through 9 {
        .opacity-#{$i} { 
            opacity: $i/10; 
        }
    }
}
@include opacity-x;
// BOX SHADOWS

// CURSORS
.a-pointer{
    cursor: pointer;
}
