<section class="EshopDetail container magazine-section mt-3 mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="single-news mb-lg-0 mb-4">
                <div class="mb-4">
                    <mdb-image-modal class="main-image" [modalImages]="productImage" type="no-margin"></mdb-image-modal>
                </div>
                <mdb-image-modal [modalImages]="galleryImages" type="no-margin"></mdb-image-modal>
                <hr/>
                <h3 class="font-weight-bold dark-grey-text mb-3 mt-3">
                    <a>{{_activeProduct.name}}</a>
                </h3>
                <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{_activeProduct.description}}</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="single-news mb-4">
                <h2 class="font-weight-bold dark-grey-text mb-3">
                    <a>{{_activeProduct.previewName}}</a>
                </h2>
                <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{_activeProduct.previewDescription}}</p>

                <div class="pt-3" *ngIf="_activeProduct.type != ProductType.Service">
                    <span class="font-weight-bold text-success" *ngIf="_activeProduct.stock.count > 4">Skladem</span>
                    <span class="font-weight-bold text-warning" *ngIf="_activeProduct.stock.count > 1 && _activeProduct.stock.count <= 4">Skladem poslední {{_activeProduct.stock.count}} kusy</span>
                    <span class="font-weight-bold text-warning" *ngIf="_activeProduct.stock.count == 1">Skladem poslední kus</span>
                    <span class="font-weight-bold text-warning" *ngIf="_activeProduct.stock.count == 0">Očekáváme do {{_activeProduct.stock.preOrderDays}} dnů</span>
                </div>
                
                <div class="d-flex">
                    <div class="EshopDetail-pricing">
                        <span class="EshopDetail-pricing-value">
                            {{_activeProduct.buy?.price?.czkWithVat}} {{mapPriceTypes(_activeProduct.buy?.price?.priceType)}}
                            <span class="EshopDetail-pricing-vat">s DPH {{_activeProductVAT}}%</span>
                        </span>
                    </div>
    
                    <div class="EshopDetail-pricing-without">
                        <span class="EshopDetail-pricing-value">
                            {{_activeProduct.buy?.price?.czkWithoutVat}} {{mapPriceTypes(_activeProduct.buy?.price?.priceType)}}
                            <span class="EshopDetail-pricing-vat">bez DPH</span>
                        </span>
                    </div>
                </div>

                <div class="mt-1 w-50">
                    <!-- No service -->
                    <ng-container *ngIf="_activeProduct.type != ProductType.Service">
                        <button 
                            class="shopping-btn"
                            *ngIf="productsCount == 0" 
                            (click)="saveProductBasket(productsCount + 1, true)" 
                            [disabled]="!_activeProduct.stock.count || _activeProduct.stock.count == 0" 
                            type="button" 
                            color="primary" 
                            mdbWavesEffect
                            mdbBtn
                        >
                            Přidat do košíku
                        </button>
                        <app-shopping-button
                            #shoppingButton
                            *ngIf="productsCount > 0" 
                            (changed)="saveProductBasket($event)" 
                            [maxCount]="_activeProduct.stock.count"
                            [productsCount]="productsCount">
                        </app-shopping-button>
                    </ng-container>
                    <!-- Service -->
                    <ng-container *ngIf="_activeProduct.type == ProductType.Service">
                        <p *ngIf="productsCount > 0">
                            Vybraný termín: 
                            <strong>
                                {{moment(selectedProduct?.serviceDate)?.format('DD.MM.YYYY')}}
                            </strong>
                        </p>
                        <button 
                            class="shopping-btn"
                            *ngIf="productsCount == 0" 
                            (click)="serviceDateModal.showModal()" 
                            type="button" 
                            color="primary" 
                            mdbWavesEffect
                            mdbBtn
                        >
                            Vybrat termín
                        </button>
                        <button 
                            class="shopping-btn"
                            *ngIf="productsCount > 0" 
                            (click)="saveProductBasket(0)" 
                            type="button" 
                            color="danger" 
                            mdbWavesEffect
                            mdbBtn
                        >
                            Odebrat z košíku
                        </button>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</section>

<app-service-date (selectedDate)="onSelectDate($event)" [product]="_productService.activeProduct" #serviceDateModal></app-service-date>