<section class="magazine-section mt-3 mb-5">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="active">Kategorie</mdb-breadcrumb-item>
    <mdb-breadcrumb-item> Level 2</mdb-breadcrumb-item>
    <mdb-breadcrumb-item> Level 3</mdb-breadcrumb-item>
  </mdb-breadcrumb>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="single-news mb-lg-0 mb-4">
        <div class="view overlay rounded z-depth-1-half mb-4">
          <img class="img-fluid" [src]="_activeProduct.previewImageUrl" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>
        <h3 class="font-weight-bold dark-grey-text mb-3">
          <a>{{_activeProduct.name}}</a>
        </h3>
        <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{_activeProduct.description}}</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="single-news mb-4">
        <h2 class="font-weight-bold dark-grey-text mb-3">
          <a>{{_activeProduct.previewName}}</a>
        </h2>
        <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{_activeProduct.previewDescription}}</p>
        <button class="ml-auto mt-3" mdbBtn outline="true" type="button" color="primary" mdbWavesEffect>Přidat do košíku</button>
      </div>
    </div>
  </div>
</section>