@import '../../../../../styles/config';

::ng-deep {
    .main-image {
        figure {
            width: 100% !important;
            max-width: 100% !important;
            max-height: 380px !important;
            flex: auto;
        }
    }
    .EshopDetail {
        mdb-carousel {
            .carousel-indicators, .controls-top {
                display: none !important;
            }
        }
        &-pricing {
            background: #f9f9f9;
            padding: 8px 20px;
            font-size: 20px;
            color: #ff5454;
            font-weight: bold !important;
            display: table;
            border: 1px solid #e66969;
            margin-top: 10px;
            border-right: none;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;

            &-without { 
                display: flex;
                align-items: center;
                margin-top: 10px;
                padding: 0 15px;
                border: 1px solid #e4595985;
                font-weight: 500;
                opacity: 0.8;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            &-vat {
                font-size: 11px;
                font-weight: 400;
                padding-left: 5px;
                margin-left: 5px;
                border-left: 1px solid grey;
            }
        }
        &-breadcrumb {
            cursor: pointer;
            .breadcrumb-item {
                cursor: pointer !important;
                color: $blue;
            }
        }

        .shopping-btn {
            margin-left: 1px !important;
        }
    }
}

::ng-deep {
    @media only screen and (max-width: 990.98px) {
        .EshopDetail {
            > .row {
                flex-direction: column-reverse;    
            }

            &-previewDescription{
                margin-bottom: 0 !important;
            }

            &-gallery {
                .ng-gallery {
                    flex-wrap: nowrap !important;
                }
            }
        }
    }
    @media only screen and (max-width: 768.98px) {
        .EshopDetail {
            &-button-block {
                width: 100% !important;
            }
        }
    }
    @media only screen and (max-width: 550.98px) {
        .EshopDetail {
            &-pricing {
                &-vat {
                    width: 100%;
                    float: right;
                    border: none;
                    margin-left: 0 !important;
                    padding-left: 0 !important;
                }
            }

            &-gallery {
                a.ng-star-inserted {
                    background: #4e55d8b3 !important;
                    border-radius: 100% !important;
                    zoom: 1.5 !important;
                    right: 0px !important;
                }
                .nav-left {
                    left: 0 !important;
                    max-width: 32px;
                }
                .nav-right {
                    right: 0 !important
                }
            }
        }
    }
}