<div class="d-flex align-items-center justify-content-between">
    <div class="d-flex">
        <h1 nz-typography>Objednávky</h1>
    </div>
    <div class="d-flex">
        <app-order-form #orderForm (changeData)="loadData()"></app-order-form>
    </div>
</div>

<nz-table nzShowSizeChanger [nzData]="dataList" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzShowTotal]="totalTemplate" [nzPageSize]="pageSize" [nzPageIndex]="pageNumber" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th class="p-0" colspan="1">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="Vyhledat" [(ngModel)]="fullText" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button (click)="fullTextChange()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </th>
            <th class="p-0 pl-2" colspan="1">
                <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte uživatele" (ngModelChange)="userChanged($event)" [(ngModel)]="userIdFilter">
                    <nz-option *ngFor="let item of usersOptions" [nzLabel]="item.name + ' | ' + item.email" [nzValue]="item.id"></nz-option>
                </nz-select>
            </th>
            <th class="p-0 pl-2" colspan="1">
                <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte stav" (ngModelChange)="orderStateChanged($event)" [(ngModel)]="orderStateFilter">
                    <nz-option [nzLabel]="OrderStateName(OrderState.Confirmed)" [nzValue]="OrderState.Confirmed"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.WaitForPaid)" [nzValue]="OrderState.WaitForPaid"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.ReadyToPickup)" [nzValue]="OrderState.ReadyToPickup"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.ReadyToShip)" [nzValue]="OrderState.ReadyToShip"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Sent)" [nzValue]="OrderState.Sent"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Delivered)" [nzValue]="OrderState.Delivered"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentAssign)" [nzValue]="OrderState.AgentAssign"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentReady)" [nzValue]="OrderState.AgentReady"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentOnWay)" [nzValue]="OrderState.AgentOnWay"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Finished)" [nzValue]="OrderState.Finished"></nz-option>
                </nz-select>
            </th>
            <th class="p-0 pl-2" colspan="1">
                <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte stav platby" (ngModelChange)="paymentStateChanged($event)" [(ngModel)]="paymentStateFilter">
                    <nz-option nzLabel="Zaplacená" [nzValue]="PaymentState.Paid"></nz-option>
                    <nz-option nzLabel="Nezaplacená" [nzValue]="PaymentState.NotPaid"></nz-option>
                </nz-select>
            </th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th nzColumnKey="email">Číslo objednávky</th>
            <th nzColumnKey="customer">Zákazník</th>
            <th nzColumnKey="state">Stav</th>
            <th nzColumnKey="payment">Zaplacená</th>
            <th nzColumnKey="service">Služba</th>
            <th nzColumnKey="agent">Agenti</th>
            <th nzColumnKey="createdDate">Datum přijetí</th>
            <th nzColumnKey="priceWithoutVat">Cena bez DPH</th>
            <th nzColumnKey="priceWithVat">Cena s DPH</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataList; let i = index">
            <td> {{ item.orderNumberFormatted }} </td>
            <td>{{ item.customer.company != null ? item.customer.company.companyName : item.customer.personal.firstname + " " + item.customer.personal.lastname }} | {{item.customer.personal.contact.email}}</td>
            <td>
                <div class="d-flex flex-row align-items-center">
                    {{ OrderStateName(item.state) }}
                    <button class="ml-2" (click)="changeStateModal(item, orderStateModal)" nz-button nzsi nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Upravit stav objednávky">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="d-flex flex-row align-items-center">
                    {{ PaymentStateName(item.paymentState) }}
                    <button class="ml-2" (click)="changePaymnetStateModal(item, paymentStateModal)" nz-button nzsi nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Upravit stav platby">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                </div>
            </td>
            <td>{{ hasService ? 'Se službou' : 'Bez služby' }}</td>
            <td>
                <div class="d-flex flex-row align-items-center">
                    {{ hasUnassignedAgent(item) ? 'Chybí agent' : 'Ok' }}
                    <button class="ml-2" (click)="changeAgentSetupModal(item, agentSetupModal)" nz-button nzsi nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Správa agentů">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                </div>
            </td>
            <td>
                {{ moment(item.createdDate).format('D.M.YYYY') }}
            </td>
            <td>{{ item.calculatedData?.total?.totalPrice?.czkWithoutVat}} {{MapPriceTypes(item.calculatedData?.total?.totalPrice?.priceType) }}</td>
            <td>{{ item.calculatedData?.total?.totalPrice?.czkWithVat}} {{MapPriceTypes(item?.calculatedData?.total.totalPrice?.priceType) }}</td>
            <td>
                <button (click)="showUpdateDrawer(item)" nz-button nzType="primary" nzShape="circle"
                    nz-tooltip nzTooltipTitle="Upravit objednávku">
                    <i nz-icon nzType="edit"></i>
                </button>
                <div class="d-flex justify-content-end">
                    <button (click)="showDetail(item)" nz-button nzsi nzType="primary" nzShape="circle" nz-tooltip nzTooltipTitle="Zobrazit produkt">
                        <i nz-icon nzType="eye" nzTheme="outline"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate>
    Výsledků celkem: {{total}}
</ng-template>

<ng-template #orderStateModal let-params let-ref="modalRef">
    <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label>Zadejte nový stav objednávky</nz-form-label>
            <nz-form-control>
                <nz-select [ngModelOptions]="{standalone: true}" class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte stav platby" (ngModelChange)="selectedOrderStateChanged($event)" [(ngModel)]="selectedChangeOrderState">
                    <nz-option [nzLabel]="OrderStateName(OrderState.Confirmed)" [nzValue]="OrderState.Confirmed"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.WaitForPaid)" [nzValue]="OrderState.WaitForPaid"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.ReadyToPickup)" [nzValue]="OrderState.ReadyToPickup"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.ReadyToShip)" [nzValue]="OrderState.ReadyToShip"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Sent)" [nzValue]="OrderState.Sent"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Delivered)" [nzValue]="OrderState.Delivered"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentAssign)" [nzValue]="OrderState.AgentAssign"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentReady)" [nzValue]="OrderState.AgentReady"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.AgentOnWay)" [nzValue]="OrderState.AgentOnWay"></nz-option>
                    <nz-option [nzLabel]="OrderStateName(OrderState.Finished)" [nzValue]="OrderState.Finished"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #paymentStateModal let-params let-ref="modalRef">
    <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label>Zadejte nový stav platby</nz-form-label>
            <nz-form-control>
                <nz-select [ngModelOptions]="{standalone: true}" class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte stav platby" (ngModelChange)="selectedPaymentStateChanged($event)" [(ngModel)]="selectedChangePaymentState">
                    <nz-option nzLabel="Zaplacená" [nzValue]="PaymentState.Paid"></nz-option>
                    <nz-option nzLabel="Nezaplacená" [nzValue]="PaymentState.NotPaid"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #agentSetupModal let-params let-ref="modalRef">
    <div *ngFor="let product of getServices(selectedOrder)" class="d-flex flex-row align-items-center">
        {{ product.product.name }}
        |
        {{ product.service.userId 
            ? findUserName(product.service.userId) 
            : 'nepřiřazen'}}
        <button class="ml-2" (click)="changeAssignAgentModal(selectedOrder, product, assignAgentModal)" nz-button nzsi nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Správa agentů">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
    </div>
</ng-template>

<ng-template #assignAgentModal let-params let-ref="modalRef">
    <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label>Přiřaďte agenta k servisu</nz-form-label>
            <nz-form-control>
                <nz-select [ngModelOptions]="{standalone: true}" class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte agenta" (ngModelChange)="agentChange($event)" [(ngModel)]="selectedAgentId">
                    <nz-option *ngFor="let item of usersOptions" [nzLabel]="item.name + ' | ' + item.email" [nzValue]="item.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>