<section class="container team-section my-5 pt-4">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Obchodní podmínky</h2>
    <p class="grey-text text-center w-responsive mx-auto mb-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dolor felis, sagittis atLorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Mauris dolor felis, sagittis at, luctus sed, aLorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Mauris dolor felis, sagittis at, luctus sed, a, luctus sed, aliquam non, tellus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. 
        Proin in tellus sit amet nibh dignissim sagittis.
    </p>
    <br/>
    <p class="grey-text text-center w-responsive mx-auto mb-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dolor felis, sagittis atLorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Mauris dolor felis, sagittis at, luctus sed, aLorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Mauris dolor felis, sagittis at, luctus sed, a, luctus sed, aliquam non, tellus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. 
        Proin in tellus sit amet nibh dignissim sagittis.
    </p>
    <br/>
    <p class="grey-text text-center w-responsive mx-auto mb-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dolor felis, sagittis atLorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Mauris dolor felis, sagittis at, luctus sed, aLorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Mauris dolor felis, sagittis at, luctus sed, a, luctus sed, aliquam non, tellus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. 
        Proin in tellus sit amet nibh dignissim sagittis.
    </p>
    <br/>
    <p class="grey-text text-center w-responsive mx-auto mb-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dolor felis, sagittis atLorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Mauris dolor felis, sagittis at, luctus sed, aLorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Mauris dolor felis, sagittis at, luctus sed, a, luctus sed, aliquam non, tellus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. 
        Proin in tellus sit amet nibh dignissim sagittis.
    </p>
    <br/>
    <p class="grey-text text-center w-responsive mx-auto mb-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dolor felis, sagittis atLorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Mauris dolor felis, sagittis at, luctus sed, aLorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Mauris dolor felis, sagittis at, luctus sed, a, luctus sed, aliquam non, tellus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. 
        Proin in tellus sit amet nibh dignissim sagittis.
    </p>
</section>