@import '../../../../styles/config';

.OrderTab {
    display: flex;
    flex-wrap: wrap;

    > div {
        padding-left: 20px;
    }

    > a {
        flex-grow: 1;
        width: auto;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: auto;
        opacity: 0.8;

        button {
            background: white;
            border: 1px solid $grey-border;
            box-shadow: none;
            
            ::ng-deep {
                i {
                    color: $black;
                }
            }
            
        }

        &.is-active, &.active {
            opacity: 1;
            button {
                background: $black;
                ::ng-deep {
                    i {
                        color: white;
                    }
                }
            }
            ::ng-deep {
                mdb-icon {
                    opacity: 1;
                    i {
                        opacity: 1;
                        color: $black;
                    }
                }
            }
        }
        
    }
    &-title {
        white-space: nowrap;
        color: $black;
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .order-container {
        max-width: 100% !important;
    }
}



@media screen and (min-width: 768.98px) and (max-width: 999px) {
    .order-container {
        max-width: 95% !important;
    }
}
