<div class="container pt-5">
    <div class="OrderTab d-flex">
        <a [routerLink]="" routerLinkActive="is-active" class="OrderTab-item">
            <button floating="true" mdbBtn>
                <mdb-icon fas icon="shopping-basket"></mdb-icon>
            </button>
            <h6 class="OrderTab-title modal-title">
               Košík
            </h6>
        </a>
        <div class="OrderTab-item">
            <mdb-icon class="opacity-40" fas size="1x" icon="chevron-right"></mdb-icon>
        </div>

        <a class="OrderTab-item">
            <button floating="true" mdbBtn>
                <mdb-icon fas icon="shuttle-van"></mdb-icon>
            </button>
            <h6 class="OrderTab-title modal-title">
               Doprava
            </h6>
        </a>
        <div class="OrderTab-item">
            <mdb-icon class="opacity-40" fas size="1x" icon="chevron-right"></mdb-icon>
        </div>

        <a class="OrderTab-item">
            <button floating="true" mdbBtn>
                <mdb-icon fas icon="credit-card"></mdb-icon>
            </button>
            <h6 class="OrderTab-title modal-title">
               Platba
            </h6>
        </a>
        <div class="OrderTab-item">
            <mdb-icon class="opacity-40" fas size="1x" icon="chevron-right"></mdb-icon>
        </div>

        <a class="OrderTab-item">
            <button floating="true" mdbBtn>
                <mdb-icon fas icon="address-card"></mdb-icon>
            </button>
            <h6 class="OrderTab-title modal-title">
               Osobní údaje
            </h6>
        </a>
        <div class="OrderTab-item">
            <mdb-icon class="opacity-40" fas size="1x" icon="chevron-right"></mdb-icon>
        </div>

        <a class="OrderTab-item">
            <button floating="true" mdbBtn>
                <mdb-icon size="1x" fas icon="check"></mdb-icon>
            </button>
        </a>
    </div>
    <hr />

    <router-outlet></router-outlet>
</div>
