mdb-navbar{
    .logo{
        background: #ffffff7a;
        padding: 3px 21px;
        border-radius: 6px;
        overflow: hidden;
        img{
            height: 50px
        }
    }
    links{
        li{
            border-left: 1px solid #ffffff52;
            padding: 12px 6px;
            &:first-child{
                border-left: none;
            }
        }
    }
}