<section class="text-left pb-1 mt-1">
    <h1 class="_ShopMain-title h3 pt-4 mb-4">{{_categoryService.activeCategory.name}}</h1>
    <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of _productService.products">
      <mdb-card class="_Shop-card align-items-start" [routerLink]="product.urlName">
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img [src]="product.previewImageUrl" [alt]="product.name"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body class="_Shop-card-body">
          <a href="" class="_Shop-card-title">
            {{product.name}}
          </a>
          <p class="_Shop-card-description">
            {{product.previewDescription}}
          </p>
          <h4 class="_Shop-card-price">
            650 Kč/h
            <!-- {{product.price.czkWithVat}} {{mapPriceTypes(product.price.priceType)}} -->
          </h4>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>