<div *ngIf="order" class="container py-5">
    <h1 class="h1">Objednávka {{order.orderNumberFormatted}}</h1>
    <hr/>
    <div class="OrderSummary-Tab d-flex">
        <ng-container *ngFor="let state of orderSummaryStates(order); let last = last;">
            <a class="OrderSummary-Tab-item disabled {{state.type <= order.state ? 'active' : ''}}">
                <button floating="true" mdbBtn>
                    <mdb-icon *ngIf="state.type == OrderState.Confirmed" fas icon="clipboard-list"></mdb-icon>
                    <mdb-icon *ngIf="state.type == OrderState.WaitForPaid" fas icon="credit-card"></mdb-icon>
                    
                    <mdb-icon *ngIf="state.type == OrderState.ReadyToPickup" fas icon="archive"></mdb-icon>
                    
                    <mdb-icon *ngIf="state.type == OrderState.ReadyToShip" fas icon="truck-loading"></mdb-icon>
                    <mdb-icon *ngIf="state.type == OrderState.Sent" fas icon="truck"></mdb-icon>
                    <mdb-icon *ngIf="state.type == OrderState.Delivered" fas icon="check"></mdb-icon>

                    <mdb-icon *ngIf="state.type == OrderState.AgentAssign" fas icon="user-times"></mdb-icon>
                    <mdb-icon *ngIf="state.type == OrderState.AgentReady" fas icon="user-check"></mdb-icon>
                    <mdb-icon *ngIf="state.type == OrderState.AgentOnWay" fas icon="walking"></mdb-icon>

                </button>
                <h6 class="OrderSummary-Tab-title modal-title">
                   {{state.label}}
                </h6>
            </a>
            <div *ngIf="!last" class="OrderSummary-Tab-item {{state.type <= order.state ? 'active' : ''}}">
                <mdb-icon class="opacity-40" fas size="1x" icon="chevron-right"></mdb-icon>
            </div>
        </ng-container>
    </div>
    <h2 class="h3 mt-3 pt-4">Shrnutí objednávky</h2>
    <hr/>
    <mdb-card>
        <div class="table-responsive">
            <table class="OrderSummary-Table OrderSummary-Table-products table product-table mb-0">
                <tbody>
                    <tr *ngFor="let product of order?.calculatedData?.products">
                        <th scope="row">
                            <img src="{{product.product.image.secureUrl}}" alt="{{product.product.image.originalFileName}}" class="img-fluid z-depth-0 OrderSummary-Table-products-image">
                        </th>
                        <td>
                            <h5 class="mt-3 h6">
                                <strong>{{product.product.name}}</strong>
                            </h5>
                        </td>
                        <td>
                            {{product.product.buy.price.czkWithVat}} {{mapPriceTypes(product.product.buy.price.priceType)}} / ks
                            <br/>
                            {{ product?.service?.date && moment(product?.service?.date)?.format('DD.MM.YYYY')}}
                        </td>
                        <td>
                            {{product.count}} ks
                        </td>
                        <td class="OrderSummary-Card-price text-right">
                            <span>{{product.totalPrice.czkWithVat}} {{mapPriceTypes(product.totalPrice.priceType)}}</span> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mdb-card>
    <div class="row">
        <div class="col">
            <h3 class="h5 mt-4 mb-3">Doprava</h3>
            <mdb-card>
                <div class="table-responsive">
                    <table class="OrderSummary-Table OrderSummary-Table-transport table product-table mb-0">
                        <tbody>
                            <tr *ngIf="order?.calculatedData?.transport">
                                <th scope="row">
                                    <img [alt]="transport.name" [src]="transport.image.secureUrl" />
                                </th>
                                <td class="w-100">
                                    <h5 class="OrderSummary-Card-name h6">
                                        <strong>{{transport.name}}</strong>
                                    </h5>
                                </td>
                                <td class="font-weight-bold OrderSummary-Card-price">
                                    <strong>
                                        <span *ngIf="transport.totalPrice?.czkWithVat > 0">{{transport.totalPrice?.czkWithVat}} {{mapPriceTypes(transport.totalPrice?.priceType)}}</span>
                                        <span *ngIf="transport.totalPrice?.czkWithVat == 0">Zdarma</span>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mdb-card>
        </div>
        <div class="col">
            <h3 class="h5 mt-4 mb-3">Platba</h3>
            <mdb-card>
                <div class="table-responsive">
                    <table class="OrderSummary-Table OrderSummary-Table-payment table product-table mb-0">
                        <tbody>
                            <tr *ngIf="payment">
                                <th scope="row">
                                    <img [alt]="payment.name" [src]="payment.image.secureUrl" />
                                </th>
                                <td class="w-100">
                                    <h5 class="OrderSummary-Card-name h6">
                                        <strong>{{payment.name}}</strong>
                                    </h5>
                                </td>
                                <td class="OrderSummary-Card-price">
                                    <strong>
                                        <span *ngIf="payment.totalPrice?.czkWithVat > 0">{{payment.totalPrice?.czkWithVat}} {{mapPriceTypes(payment.totalPrice?.priceType)}}</span>
                                        <span *ngIf="payment.totalPrice?.czkWithVat == 0">Zdarma</span>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mdb-card>
        </div>
        <div class="col-12">
            <hr />
            <h3 class="h4 mt-4 mb-2 pull-left">Celková cena za objednávku</h3>
            <div class="text-right">
                <h5 *ngIf="order?.calculatedData?.total?.totalPrice" class="mt-2 h3">
                    <strong class="ml-4">{{order.calculatedData.total.totalPrice.czkWithVat}} {{mapPriceTypes(order.calculatedData.total.totalPrice.priceType)}}</strong> s DPH
                </h5>
                <h6 *ngIf="order?.calculatedData?.total?.totalPrice" class="mt-2 h5 opacity-8">
                   <strong class="ml-4">{{order.calculatedData.total.totalPrice.czkWithoutVat}} {{mapPriceTypes(order.calculatedData.total.totalPrice.priceType)}}</strong> bez DPH
                </h6>
            </div>
        </div>
    </div>
    <hr class="mt-4"/>
    <div *ngIf="customer" class="row">
        <div class="col-6">
            <h3 class="h5 mt-4 mb-3">Doručovací údaje</h3>
            <mdb-card class="OrderSummary-Card-address">
                <mdb-card-body>
                    <div *ngIf="order?.customer?.company == null">
                        <p>{{order.customer.personal?.address?.street}} {{order.customer.personal?.address?.houseNumber}}</p>
                        <p>{{order.customer.personal?.address?.postalCode}} {{order.customer.personal?.address?.city}}</p>
                        <p>{{order.customer.personal?.address?.country}}</p>
                        <hr />
                        <p>{{order.customer.personal?.firstname}} {{order.customer.personal?.lastname}}</p>
                    </div>
                    <div *ngIf="order?.customer?.company != null">
                        <p>{{order.customer.company?.address?.street}} {{order.customer.company?.address?.houseNumber}}</p>
                        <p>{{order.customer.company?.address?.postalCode}} {{order.customer.company?.address?.city}}</p>
                        <p>{{order.customer.company?.address?.country}}</p>
                        <hr />
                        <p>{{order.customer.company?.companyName}}</p>
                        <p>{{order.customer.company?.companyId}}</p>
                        <p>{{order.customer.company?.companyVat}}</p>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-6">
            <h3 class="h5 mt-4 mb-3">Kontaktní údaje</h3>
            <mdb-card class="OrderSummary-Card-address">
                <mdb-card-body>
                    <p>{{customer?.personal?.contact?.email}}</p>
                    <p>+{{customer?.personal?.contact?.phone}}</p>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
