

// full width and height for carousel
:host::ng-deep .carousel, :host::ng-deep .carousel-inner{
    height: 100% !important;
}
#mainCarousel{
    height: calc(100vh - 100px);
    h1, h2, h3, h4, h5, h6, span, p, a {
        color: white !important;
    } 
    .carousel{
        height: 100%;
        .carousel-item{
            height: 100%;
            .view{
                width: 100%;
                height: 100%;
                img{
                    min-height: 100%;
                    min-width: auto;
                    filter: blur(3px);
                }
            }
            .carousel-caption{
                bottom: auto !important;
                top: 30% !important;
            }
        }
    }
    .a-icon-code{
        max-height: 100px;
        opacity: 0.8;
    }
    .a-icon-mobile{
        max-height: 160px;
        opacity: 0.8;
    }
}
.a-cards{
    .rgba-black-strong{
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
}
.a-why{
    .a-img-b-grey{
        padding: 47px;
        border: 4px solid #ececec;
        border-radius: 17%;
    }
}

.contact-section { 
    background-color: #133955!important;
}

.ShadowCard {
    &-container {
    }
    &-item {
        .card {
            height: 300px;
            > div {
                height: 300px;
            }
        }
    }
}