<button (click)="open()" nz-button nzType="primary" nzShape="round">Přidat <i nz-icon nzType="plus"></i></button>
<nz-drawer 
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" 
    [nzMaskClosable]="true" 
    [nzWidth]="620" 
    [nzVisible]="visible" 
    [nzTitle]="formType == 'update' ? 'Úprava produktu' : 'Přidání produktu'" 
    (nzOnClose)="close()">
    <nz-spin [nzSpinning]="isLoading" nzTip="Probíhá ukládání...">
        
        <form [formGroup]="productForm" nzLayout="vertical" nz-form>
            <nz-radio-group formControlName="type" nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="ProductType.Buy">Produkt</label>
                <label nz-radio-button [nzValue]="ProductType.Service">Služba</label>
            </nz-radio-group>
            <nz-divider nzOrientation="left" nzText="Základní údaje"></nz-divider>
            <div nz-row [nzGutter]="16">
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired>Název</nz-form-label>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <input formControlName="name" nz-input placeholder="Zadejte název"  />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired>Náhled - Název</nz-form-label>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <input formControlName="previewName" nz-input placeholder="Zadejte název"  />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-labe nzRequiredl>Detailní popis</nz-form-labe>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <textarea
                                formControlName="description"
                                nz-input
                                placeholder="Detailní popis {{type.value == ProductType.Service ? 'služby' : 'produktu'}}"
                                [nzAutosize]="{ minRows: 3, maxRows: 10 }">
                            </textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired>Náhled - krátký popis</nz-form-label>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <textarea
                                formControlName="previewDescription"
                                nz-input
                                placeholder="Krátky popis {{type.value == ProductType.Service ? 'služby' : 'produktu'}}"
                                [nzAutosize]="{ minRows: 3, maxRows: 10 }">
                            </textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div class="gutter-row" nz-col [nzSpan]="16">
                    <nz-form-item>
                        <nz-form-label nzRequired>Kategorie</nz-form-label>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <nz-select class="w-100" formControlName="categoryId" nzShowSearch nzAllowClear nzPlaceHolder="Vyberte kategorii">
                                <nz-option *ngFor="let item of categories" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="gutter-row" nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label nzRequired>Cena bez DPH</nz-form-label>
                        <nz-form-control nzErrorTip="Pole je povinné">
                            <nz-input-number
                                formControlName="price"
                                class="w-100"
                                nzPlaceHolder="0 Kč"
                                [nzMin]="1"
                                [nzStep]="100"
                                [nzFormatter]="formatterCurrency"
                                [nzParser]="parserCurrency"
                                ></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-item>
                <nz-form-label nzRequired>Url slug</nz-form-label>
                <nz-form-control nzErrorTip="Zadaný slug již existuje, nebo obsahuje více než 30 znaků, zadejte prosím jiný slug ve formátu (nova-kategorie)">
                    <nz-input-group nzAddOnBefore="/nase-produkty/{kategorie}">
                        <input mask="UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU" [patterns]="urlSlugPattern" [dropSpecialCharacters]="false" [validation]="false" formControlName="slug" type="text" nz-input placeholder="Zadejte url slug" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-divider *ngIf="type.value == ProductType.Buy || type.value == ProductType.Deposit" nzOrientation="left" nzText="Skladové informace"></nz-divider>
            <div *ngIf="type.value == ProductType.Buy || type.value == ProductType.Deposit" nz-row [nzGutter]="16">
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired>Množství na skladě</nz-form-label>
                        <nz-form-control nzErrorTip="Nejmenší množství může být 0">
                            <nz-input-group nzAddOnAfter="kusů">
                                <input formControlName="stockCount" type="number" nz-input placeholder="0" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="gutter-row" nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired>Počet dní k dodání</nz-form-label>
                        <nz-form-control nzErrorTip="Nejmenší počet dnů může být 1">
                            <nz-input-group nzAddOnAfter="dnů">
                                <input formControlName="stockPreOrderDays" type="number" nz-input placeholder="0" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <nz-divider nzOrientation="left" nzText="Hlavní obrázek *"></nz-divider>
            <app-file-upload #mainImageUploader [initial]="this.activeProduct?.image" (changed)="mainImageChanged($event)" ></app-file-upload>

            <nz-divider nzOrientation="left" nzText="Galerie *"></nz-divider>
            <app-multiple-file-upload #galleryUploader [initial]="this.activeProduct?.gallery" (changed)="galleryChanged($event)"></app-multiple-file-upload>

            <hr class="mt-4"/>
            <button [disabled]="productForm.invalid || !mainImage || !(gallery?.length > 0)" (click)="confirm()" nz-button nzType="primary" nzShape="round" class="pull-right">Uložit <i nz-icon nzType="check"></i></button>
        </form>
    </nz-spin>
</nz-drawer>