<header>
    <mdb-side-nav #sidenav class="sn-bg-1 fixed" [fixed]="true">
        <mdb-navbar-brand>
            <li>
                <div class="logo-wrapper waves-light">
                    <div class="text-center mt-4">
                        <h3 class="white-text font-weight-bold">
                            <strong>ES</strong><strong class="blue-text font-weight-bold is-logo">is</strong>
                        </h3>
                    </div>
                </div>
            </li>
        </mdb-navbar-brand>
        <links>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <mdb-accordion [multiple]="false" aria-multiselectable="false">
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminDashRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-dashboard"></i> Přehled</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminOrderRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-tasks"></i> Objednavky</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminCategoryRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-users"></i> Kategorie</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminProductRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-users"></i> Produkty</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminUserRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-users"></i> Uživatelé</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminTransportRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-truck"></i> Doprava</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminPaymentRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-truck"></i> Platba</mdb-accordion-item-head>
                        </mdb-accordion-item>
                        <mdb-accordion-item class="no-collase" routerLinkActive="is-active" [routerLink]="adminSettingsRoute">
                            <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-gear"></i> Nastaveni</mdb-accordion-item-head>
                        </mdb-accordion-item>
                    </mdb-accordion>
                </ul>
            </li>
        </links>
        <div class="sidenav-bg mask-strong"></div>
    </mdb-side-nav>
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">

        <navlinks class="navbar-container">
            <div class="float-left">
                <a (click)="sidenav.show()" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
        </navlinks>
        <mdb-navbar-brand>
            <!-- Breadcrumb-->
            <div class="breadcrumbs breadcrumb-dn mr-auto">
            </div>
            <!--/. Breadcrumb-->
            <app-select-language class="pl-4"></app-select-language>
        </mdb-navbar-brand>
        <navlinks>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item dropdown btn-group" dropdown>
                    <a type="button" dropdownToggle class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <i class="fa fa-user"></i>
                        {{getUser?.email}}
                        <span class="clearfix d-none d-sm-inline-block"></span>
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" (click)="logOut()">Log out</a>
                    </div>
                </li>
            </ul>
        </navlinks>
    </mdb-navbar>
</header>
<main>
    <div class="container-fluid mt-5">
        <router-outlet></router-outlet>
    </div>
</main>