<button (click)="open()" nz-button nzType="primary" nzShape="round">Přidat <i nz-icon nzType="plus"></i></button>
<nz-drawer 
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" 
    [nzMaskClosable]="true" 
    [nzWidth]="620" 
    [nzVisible]="visible" 
    [nzTitle]="type == 'update' ? 'Úprava kategorie' : 'Přidání kategorie'" 
    (nzOnClose)="close()">
    <nz-spin [nzSpinning]="isLoading" nzTip="Probíhá ukládání...">
        <form [formGroup]="categoryForm" nzLayout="vertical" nz-form>
            <nz-form-item>
                <nz-form-label nzRequired>Název</nz-form-label>
                <nz-form-control nzErrorTip="Pole je povinné">
                    <input formControlName="name" nz-input placeholder="Zadejte název"  />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired>Url slug</nz-form-label>
                <nz-form-control nzErrorTip="Zadaný slug již existuje, nebo obsahuje více než 30 znaků, zadejte prosím jiný slug ve formátu (nova-kategorie)">
                    <nz-input-group nzAddOnBefore="/nase-produkty/" nzAddOnAfter="/{produkt}.cz">
                        <input mask="UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU" [patterns]="urlSlugPattern" [dropSpecialCharacters]="false" [validation]="false" formControlName="slug" type="text" nz-input placeholder="Zadejte url slug" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-divider nzOrientation="left" nzText="Konfigurace"></nz-divider>
            <nz-form-item class="form-item-inline">
                <nz-form-label>Zobrazení produktu na webu:</nz-form-label>
                <nz-form-control>
                    <label nz-checkbox formControlName="isActive">Aktivní</label>
                </nz-form-control>
            </nz-form-item>

            <nz-divider nzOrientation="left" nzText="Hlavní obrázek *"></nz-divider>
            <app-file-upload #mainImageUploader [initial]="this.activeCategory?.image" (changed)="mainImageChanged($event)" ></app-file-upload>

            <hr class="mt-4"/>
            <button [disabled]="categoryForm.invalid || !mainImage" (click)="confirm()" nz-button nzType="primary" nzShape="round" class="pull-right">Uložit <i nz-icon nzType="check"></i></button>
        </form>
    </nz-spin>
</nz-drawer>