<div class="row">
    <div class="mx-auto my-3 z-depth-1 rounded">
      <section class="form-dark">
        <!--Form without header-->
        <div class="card card-image login-card">
          <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
            <div (click)="goLogin()" class="pull-left a-pointer">
              <mdb-icon icon="arrow-left" class="white-text waves-light" size="lg"></mdb-icon>
              <span class="pl-2">Zrušit</span>
            </div>
            <!--Header-->
            <div class="text-right mb-2">
              <h3 class="white-text font-weight-bold">
                <strong>ES</strong><strong class="blue-text font-weight-bold is-logo">is</strong> 
              </h3>
              <h6>
                <a class="white-text opacity-7">
                  {{ 'ELITEC_SOFTWARE_INTERNAL_SYSTEM' | translate}}
                </a>
              </h6>
            </div>
            <div class="mt-4 mb-4 opacity-9 text-center white-text">
              <hr>
              <h3>Registrace </h3>
              <h6 *ngIf="isSocial">Zadejte uzivatelske jmeno a heslo </h6>
              <hr>
            </div>
            <!--Body-->
            <form [formGroup]="registerForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="firstName" class="form-control white-text" formControlName="firstName" data-success=" "  mdbInputDirective>
                    <label for="firstName" class="text-white opacity-8">{{ 'LOGIN.FIRSTNAME' | translate}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="lastName" class="form-control white-text" formControlName="lastName" data-success=" " mdbInputDirective>
                    <label for="lastName" class="text-white opacity-8">{{ 'LOGIN.LASTNAME' | translate}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="email" id="email" class="form-control white-text" formControlName="email" data-success=" " mdbInputDirective>
                    <label for="email" class="text-white opacity-8">{{ 'LOGIN.EMAIL' | translate}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="username" class="form-control white-text" formControlName="username" data-success=" " mdbInputDirective>
                    <label for="username" class="text-white opacity-8">{{ 'LOGIN.USERNAME' | translate}}</label>
                  </div>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="password" id="password" class="form-control white-text" formControlName="password" data-success=" " mdbInputDirective>
                    <label for="password" class="text-white opacity-8">{{ 'LOGIN.PASSWORD' | translate}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input [compareEqual]="rf.password.value" type="password" id="passwordConfirm" class="form-control white-text" formControlName="passwordConfirm" data-success=" " mdbInputDirective>
                    <label for="passwordConfirm" class="text-white opacity-8">{{ 'LOGIN.CONFIRM_PASSWORD' | translate}}</label>
                  </div>
                </div>
              </div>
            </form>
            <!--Grid row-->
            <div class="row d-flex align-items-center">
              <!--Grid column-->
              <div class="text-center col-md-12">
                <button (click)="register()" [ngClass]="{'disabled': registerForm.invalid}" type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>{{ 'LOGIN.REGISTER' | translate}}</button>
              </div>
              <!--Grid column-->
            </div>
          </div>
        </div>
        <!--/Form without header-->
      </section>
    </div>
  </div>