@import '../../../../styles/config';

::ng-deep {
    .calendar {
        .disabled.off {
            color: #f10000 !important;
            border-radius: 0;
            background: white !important;
        }

        td {
            min-width: 37px !important;
            &.active {
                background-color: $blue !important;
            }
        }
    }
}