<div [ngClass]="{classList: true}" class="md-form input-group mb-3">
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <button (click)="deductOne()" type="button" mdbBtn color="primary" size="md" outline="true" mdbWavesEffect>-</button>
        </div>
        <input [(ngModel)]="productsCount" (change)="changeCount($event.target.value)" type="number" [min]="1" [max]="10" class="form-control" mdbInput>
        <div class="input-group-append">
            <button (click)="addOne()" type="button" mdbBtn color="primary" size="md" outline="true" mdbWavesEffect>+</button>
        </div>
    </div>
</div>